
.dashlist-link {
  display: block;
  margin: 5px;
  padding: 7px;
  background-color: $tight-form-bg;
  .fa {
    float: right;
    padding-top: 3px;
  }
  .fa-star {
    color: $orange;
  }

  .icon-gf-dashboard {
    color: $text-color-weak;
    padding-right: 0.2rem;
  }

  &:hover {
    background-color: $tight-form-func-bg;
  }
}
